{% extends "base.html" %}
{% load static %}
{% block title %}Информация о сайте{% endblock %}

{% block head %}
<style>
.form-group{
width: 500px !important;
margin-left: 400px !important;
}
input {
   text-align: center;
   width: 500px !important;
   height: 40px;
}
textarea {
width: 500px !important;
}
.send {
    margin-left: 600px !important;
}
h1 {
    margin-left: 500px !important;
}
.heading {
  margin-left: 350px !important;
}
</style>
{% endblock %}
height: 20px;

{% block content %}
<div class="container">
    <h1 style="color:rgb(0, 66, 128);">У Вас вопрос?</h1>
    <p class="heading">На указанную Вами электронную почту будет отправлен ответ на Ваш вопрос.</p>
    <form action="{% url 'user:feedback' %}" method="post" >
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}

            {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}

        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <button class="send" type="submit">Отправить</button>
    </form>
    <br>
</div>
{% endblock %}