{% extends "base.html" %}
{% load static %}
{% block title %}Информация о сайте{% endblock %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}


{% block content %}
<div class="container">
  <h1 style="color:rgb(0, 66, 128);">Спасибо за обратную связь!</h1>
  <p>Мы получили ваше сообщение и скоро свяжемся с вами.</p>
</div>
{% endblock %}