{% extends "admin/feedback_form.html" %}
{% load i18n admin_urls static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Колонка для формы редактирования -->
        <div class="col-12 col-lg-6">
            {{ block.super }}
        </div>
        <!-- Колонка для предварительного просмотра -->
        <div class="col-12 col-lg-6">
            <div id="preview-container" class="shadow-lg p-3 mb-5 bg-white rounded">
                <!-- Сюда будет вставлен предварительный просмотр -->
                ЭТО КОНТЕНТ ПРЕДВАРИТЕЛЬНОГО ПРОСМОТРА
            </div>
        </div>


    </div>
</div>
{% endblock %}