{% extends "credit.html" %}
{% block title %}Потребительский кредит{% endblock %}
{% load static %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}

{% comment %}{% endcomment %}

{% block content %}
<div class="container shadow p-3 mb-5 rounded-3 ">
    <h5 class="display-4" style="color:rgb(0, 66, 128);"><strong>Потребительский кредит «ДЕНЬГИ-ВОЗМОЖНОСТИ»</strong></h5><br>
	<span class="badge rounded-pill bg-danger" style="width: 220px;height: 30px; text-decoration: none">
		<a class="text-white fs-6" style="text-decoration: none" href="{% url 'user:calculator' %}"><i class="bi bi-calculator"></i>Кредитный калькулятор</a>
	</span>
<hr>
	<table class="raiting-table light-padding fw-light">
			<tbody>
			<tr>
				<td width="40%" style="border-image: initial;" >
					<h5>Порядок предоставления кредита:</h5>
				</td>
				<td width="51%" style="border-image: initial;">
					Кредит предоставляется единовременно путем перечисления на счет Заемщика, открытый в Банке, с которого не осуществляется погашение как текущих, так и просроченных обязательств по иным действующим кредитным договорам с Банком.
                    В случае выбора Заемщиком порядка погашения кредита ежемесячно в виде дифференцированных платежей, кредит предоставляется единовременно путем перечисления на карточный счет Заемщика, предназначенный для выплаты заработной платы.
				</td>
			</tr>
		   </tbody>
	</table>
<hr>
    <h5>Условия предоставления кредита:</h5>
<table class="raiting-table light-padding fw-light">
	<tbody>
			<tr>
				<td width="40%" style="border-image: initial;">
					Размер кредита:
				</td>
				<td width="50%" style="border-image: initial;">
					100 000-5 000 000 руб. (включительно)
				</td>
			</tr>
			<tr>
				<td width="40%" style="border-image: initial;">
					Срок кредита:
				</td>
				<td width="40%" style="border-image: initial;">
					От 18 до 60 месяцев (с шагом 6 месяцев)
			</tr>
            <tr>
				<td style="border-image: initial;">
					Полная стоимость кредита, % годовых:
				</td>
				<td style="border-image: initial;">
					18,500–30,500%
				</td>
			</tr>
			<tr>
				<td style="border-image: initial;">
					Процентная ставка, % годовых:
				</td>
				<td style="border-image: initial;">
					20,5%–30,5%
				</td>
			</tr>
            <tr>
				<td style="border-image: initial;">
					Размер процентной ставки при предоставлении кредита под залог автомобиля, % годовых:
				</td>
				<td style="border-image: initial;">
					18,5–28,5%
				</td>
			</tr>
			<tr>
				<td style="border-image: initial;">
					Условия изменения процентной ставки:
				</td>
				<td style="border-image: initial;">
					Заемщик получает заработную плату на счета в Банке «Первый Севастопольский», либо подтвердил доход выпиской из Пенсионного фонда РФ через Госуслуги	-1,00% <br>
                    При выборе аннуитетного платежа с погашением только процентов за пользование кредитом без основной суммы долга в первые 6 месяцев	+1%
				</td>
			</tr>
	</tbody>
</table>
</div>

<div class="container shadow p-3 mb-5 rounded-3 lh-1">
    Узнать о предоставлении потребительских кредитов подробнее и ознакомиться с перечнем других продуктов и услуг Банка «Первый Севастопольский» можно в офисах Банка или по телефону круглосуточного контактного центра 8 800 000 00 00 (звонок по России бесплатный)

</div>
{% endblock %}
{% block footer %}
<div class="container bg-danger text-white rounded-3 shadow p-0 mb-2 text-center ">
	<br>
	<p class="text-dark fw-light"> © Банк «Первый Севастопольский» 2010 - 2024
		<br>Генеральная лицензия Банка России № 000 от 01.01.2015 г.
		<br>Вклады в Банке «Первый Севастопольский» застрахованы в
	<a class="text-dark" href="https://www.asv.org.ru/banks">Государственной корпорации «Агентство по страхованию вкладов»</a></p> <br>
</div>
{% endblock %}