{% extends "credit.html" %}
{% block title %}Потребительский кредит{% endblock %}
{% load static %}
{% block head %}
<style>
</style>
{% endblock %}

{% comment %}{% endcomment %}

{% block content %}
<div class="container shadow p-3 mb-5 rounded-3 ">
    <h5 class="display-4"><strong>Кредитная карта «180 дней без %»</strong></h5><br>
    Бесплатная карта «МИР ВОЗМОЖНОСТЕЙ 180 дней» с льготным периодом 180 дней и лимитом кредитования от 9 900 до 750 000 рублей.
<hr>
	<table class="raiting-table light-padding fw-light">
			<tbody>
			<tr>
				<td width="40%" style="border-image: initial;">
					<h5>Порядок предоставления кредита:</h5>
				</td>
				<td width="51%" style="border-image: initial;">
					Кредит предоставляется в форме возобновляемой кредитной линии.
				</td>
			</tr>
		   </tbody>
	</table>
<hr>
    <h5>Условия предоставления кредита:</h5>
<table class="raiting-table light-padding fw-light">
	<tbody>
			<tr>
				<td width="40%" style="border-image: initial;">
					Лимит кредитования:
				</td>
				<td width="50%" style="border-image: initial;">
					9 900-750 000 руб. (включительно)
				</td>
			</tr>
			<tr>
				<td width="40%" style="border-image: initial;">
					Срок кредита:
				</td>
				<td width="40%" style="border-image: initial;">
					12 месяцев
			</tr>
            <tr>
				<td style="border-image: initial;">
					Срок действия БПК:
				</td>
				<td style="border-image: initial;">
					до 180 дней
				</td>
			</tr>
			<tr>
				<td style="border-image: initial;">
					Условия действия БПК:
				</td>
				<td style="border-image: initial;">
                    - погашение Задолженности в полном объеме не позднее даты окончания БПК;<br>
                    - своевременной уплаты Обязательных ежемесячных платежей;<br>
                    - совершение операций входящих в БПК.
				</td>
			</tr>
            <tr>
				<td style="border-image: initial;">
					БПК распространяется на следующие операции:
				</td>
				<td style="border-image: initial;">
					- оплата товаров и услуг в торгово-сервисных предприятиях;<br>
                    - оплата товаров и услуг в интернете (за исключением операций в интернет-банке);<br>
                    - оплата товаров и услуг по QR-коду в сервисе быстрых платежей Банка России (СБП) через мобильное приложение (на иные операции в интернет-банке БПК не распространяется);<br>
                    - списание в пользу Банка комиссий согласно тарифам и условиям предоставления и обслуживания кредитных карт «МИР ВОЗМОЖНОСТЕЙ» с беспроцентным периодом кредитования.
				</td>
			</tr>
			<tr>
				<td style="border-image: initial;">
					Обязательный ежемесячный платеж:
				</td>
				<td style="border-image: initial;">
					минимальная сумма денежных средств, которую Заемщик обязан уплачивать в случае наличия Задолженности на конец месяца, ежемесячно не позднее последнего календарного дня месяца, следующего за месяцем возникновения задолженности по Кредиту и до полного погашения задолженности по Кредиту, которая включает в себя: <br>
                    - не менее 10,0% (min 500 руб., но не более суммы основного долга по Кредиту) от суммы основного долга по Кредиту, сформировавшейся на конец месяца; <br>
                    - начисленные проценты (начисленные проценты не включаются в сумму обязательного ежемесячного платежа при соблюдении условий и сроков действия БПК
				</td>
			</tr>
    <tr>
				<td style="border-image: initial;">
					Полная стоимость кредита, % годовых:
				</td>
				<td style="border-image: initial;">
					24,197% – 35,443%
				</td>
			</tr>
    <tr>
				<td style="border-image: initial;">
					Размер базовой процентной ставки, % годовых:
				</td>
				<td style="border-image: initial;">
					23% – 33%
				</td>
			</tr>
	</tbody>
</table>
</div>

<div class="container shadow p-3 mb-5 rounded-3 lh-1">
    Узнать о преимуществе Кредитной карты «180 дней без %» и способах ее получения в офисах Банка «Первый Севастопольский» или по телефону круглосуточного контактного центра 8 800 000 00 00 (звонок по России бесплатный)

</div>
{% endblock %}
{% block footer %}{% endblock %}