{% extends "base.html" %}
{% block title %}Расчетно-кассовое обслуживание{% endblock %}
{% load static %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}

{% comment %}{% endcomment %}

{% block content %}
<div class="container shadow p-3 mb-5 rounded-3 ">
    <h5 class="display-4" style="color:rgb(0, 66, 128)"><strong>Расчетно-кассовое обслуживание.</strong></h5><br>
		<i class="bi bi-exclamation-lg"></i>Работа с корпоративными клиентами - одно из главных направлений деятельности Банка.
<hr>
	<table class="raiting-table light-padding fw-light">
			<tbody>
			<tr>
				<td width="40%" style="border-image: initial;">
					<h5>Расчетно-кассовое обслуживание в Банк «Первый Севастопольский» соответствует самым высоким стандартам:</h5>
				</td>
				<td width="60%" style="border-image: initial;">
                   <i class="bi bi-check-lg"></i>качество оказываемых услуг;<br>
                   <i class="bi bi-check-lg"></i>скорость проведения расчетов;<br>
                   <i class="bi bi-check-lg"></i>высокая степень надежности и максимальные удобства для клиентов;<br>
				   <i class="bi bi-check-lg"></i>Клиент может быть уверен в готовности Банка решить любую его проблему.<hr>
				</td>
			</tr>
            <tr>
				<td width="40%" style="border-image: initial;">
					<h5>Полный комплекс расчетно-кассового обслуживания:</h5>

				</td>
				<td width="60%" style="border-image: initial;"><br>
                   <i class="bi bi-check-lg"></i>осуществление безналичных переводов в рублях;<br>
                   <i class="bi bi-check-lg"></i>перечисление безналичных денежных средств со счетов клиентов «день в день»;<br>
                   <i class="bi bi-check-lg"></i>проведение переводов в рублях, в послеоперационное время;<br>
                   <i class="bi bi-check-lg"></i>первоочередная обработка срочных платежей;<br>
                   <i class="bi bi-check-lg"></i>периодическое перечисление средств, согласно дополнительному соглашению заключенному с клиентом;<br>
                   <i class="bi bi-check-lg"></i>проведение расчетных операций в рублях по счетам клиентов в режиме реального времени с использованием системы «Клиент-Банк»;<br>
                   <i class="bi bi-check-lg"></i>обслуживание клиентов в режиме продленного операционного дня;<br>
                   <i class="bi bi-check-lg"></i>кассовое обслуживание;<br>
                   <i class="bi bi-check-lg"></i>выполнение функций агента валютного контроля по экспортно-импортным операциям,<br>
                   <i class="bi bi-check-lg"></i>предоставление индивидуальных банковских сейфов для хранения ценностей;<br>
                   <i class="bi bi-check-lg"></i>предоставление справочной информации о прохождении операций по счетам;<br>
                   <i class="bi bi-check-lg"></i>открытие, ведение и закрытие всех типов рублевых счетов для резидентов и нерезидентов Российской Федерации;<br>
				</td>
			</tr>
			</tbody>
	</table>
<hr>

</div>

<div class="container shadow p-3 mb-5 rounded-3 lh-1">
    Получите лучшие условия для вашего бизнеса. Подробнее в офисах Банка «Первый Севастопольский» или по телефону круглосуточного контактного центра 8 800 000 00 00 (звонок по России бесплатный)
</div>
{% endblock %}
{% block footer %}
<div class="container bg-danger text-white rounded-3 shadow p-0 mb-2 text-center ">
	<br>
	<p class="text-dark fw-light"> © Банк «Первый Севастопольский» 2010 - 2024
		<br>Генеральная лицензия Банка России № 000 от 01.01.2015 г.
		<br>Вклады в Банке «Первый Севастопольский» застрахованы в
	<a class="text-dark" href="https://www.asv.org.ru/banks">Государственной корпорации «Агентство по страхованию вкладов»</a></p> <br>
</div>
{% endblock %}